*, *::before, *::after{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #1b1b21;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white
}
.pic1{
    display: flex;
    align-items: center;
    font-size: 1.25;
    color: inherit;
    text-decoration: none;
}
.about-me-pic{
    margin-left: 1rem;

}
.main-header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 140px;


}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

}

.edit_aboutme {
    border-radius: 25% 10%;
    height: 70px;
    width: 70px;
}

.intro{
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.about_me_para{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.resume_button{
    color: white;
    background-color: #1762a7;
    padding: .75tem 1.5rem;
    border-radius: none;
    font-size: .9rem;
    margin-bottom: 1em;
}
.github_button{
    color: white;
    background-color: #1762a7;
    padding: .75tem 1.5rem;
    border-radius: none;
    font-size: .9rem;
    margin-bottom: 1em;
}
.linkedin_button{
    color: white;
    background-color: #1762a7;
    padding: .75tem 1.5rem;
    border-radius: none;
    font-size: .9rem;

    margin-bottom: 1em;
}
.email_button{
    color: white;
    background-color: #1762a7;
    padding: .75tem 1.5rem;
    border-radius: none;
    font-size: .9rem;
    margin-bottom: 1em;
}




